<footer>
    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="navbar-brand" href="#" title="Travel">
                            <img src="assets/images/logo.png" alt="Travel" />
                          </a>
                    </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">&copy; 2021. Travel. All rights reserved.</small></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body info-card">
                    <h5 class="card-title">Quick Links</h5>
                    <div class="link-box">
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Home</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>About us</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Destinations</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Cruises</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Tours</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Packages</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Resorts</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Hot Deals</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Contact us</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>My Account</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Terms &amp; Conditions</span></a></p>
                        <p class="card-text"><a href="#"><i class="fa fa-long-arrow-right"></i><span>Privacy Policy</span></a></p>
                    </div>                
                </div>
            </div>
            <div class="card contact-card">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p class="card-text"><i class="fa fa-phone"></i><span>+91 8807808007</span></p>
                    <p class="card-text"><i class="fa fa-envelope"></i><span>amiya_sh@yahoo.com</span></p>
                    <p class="card-text"><i class="fa fa-map"></i><span>2021 Demo Extensions, Temkeport, CH</span></p>
                    <p class="card-text social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>    
</footer>