<div class="container blogs featured mt-5">
    <h1>Our Daily Posts</h1>
    <owl-carousel-o [options]="blogOptions">
        <ng-template carouselSlide *ngFor="let blog of blogDetails">
            <div class="card mb-2 border-0">
                <img src={{blog.img}} class="card-img-top" alt={{blog.title}}>
                <div class="info">
                    <div class="info-container">
                        <div>
                            <i class="fa fa-calendar mr-2"></i>
                            <span>{{blog.date}}</span>
                        </div>
                        <div>
                            <i class="fa fa-user mr-2"></i>
                            <span>{{blog.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-0 bg-white">
                    <h5 class="card-title mt-4">{{blog.title}}</h5>
                    <p class="mb-1">{{blog.lead}}</p>
                    <p><button class="btn btn-outline-secondary">Read more</button></p>
                </div>
            </div>
        </ng-template>         
    </owl-carousel-o>
</div>