<div class="container-fluid bg-grey p-5 subscribe mt-5">
    <div class="container featured">
        <h1>Subscribe Now</h1>
        <p class="text-center">Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Laboriosam Ipsam Repellat
            Nostrum Esse Officiis Unde Quisquam Corporis Doloremque Adipisci Similique!</p>
        <div class="form-group mb-0">
            <div class="input-group input-group-lg">                
                <input type="text" class="form-control" placeholder="enter your email">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">Subscribe</button>
                    </div>
            </div>
        </div>
    </div>
</div>