<div class="container-fluid bg-grey p-5 subscribe mt-5">
    <div class="container featured">
        <h1>Subscribe Now</h1>
        <p class="text-center">Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Laboriosam Ipsam Repellat
            Nostrum Esse Officiis Unde Quisquam Corporis Doloremque Adipisci Similique!</p>
        <form class="form-group mb-0 row">
            <div class="col-sm-9 mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="enter your email">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-secondary btn-lg" type="button">Subscribe</button>
            </div>
        </form>
    </div>
</div>