<div class="container reviews featured mt-5">
    <h1>Client's Reviews</h1>
    <owl-carousel-o [options]="reviewOptions">
        <ng-template carouselSlide>
            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-text mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                </div>
                <div class="card-footer border-0 bg-white text-right">
                    John Doe
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-text mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                </div>
                <div class="card-footer border-0 bg-white text-right">
                    John Doe
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-text mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                </div>
                <div class="card-footer border-0 bg-white text-right">
                    John Doe
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-text mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                </div>
                <div class="card-footer border-0 bg-white text-right">
                    John Doe
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-text mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                </div>
                <div class="card-footer border-0 bg-white text-right">
                    John Doe
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="card mb-2">
                <div class="card-body">
                    <p class="card-text mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quidem laborum pariatur alias, culpa illum quaerat, aliquid laboriosam voluptatem nisi repellat obcaecati, adipisci esse ab delectus dolorum ut recusandae ipsam?</p>
                </div>
                <div class="card-footer border-0 bg-white text-right">
                    John Doe
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>