@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  background-color: #ffffff;
}

.jumbotron {
  margin: 0;
  padding: 0;
  background-image: url(assets/images/slide-3.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.single-slide-item {
  color: #fff;
  font-size: 130px;
  font-weight: 300;
  font-family: "Great Vibes", cursive;
  margin-bottom: 20px;
  line-height: 135px;
}
.lead {
  color: #fff;
  font-weight: 600;
}

.navbg-dark {
  background-color: #383838;
  transition: all 0.3s ease;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-left: 8px;
  margin-right: 8px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fd5c63;
}

.navbar-expand-lg .navbar-brand img {
  height: 60px;
}

footer {
  margin-top: 50px;
  background-color: #f3f3f3;
  color: #484848;
  padding: 50px 0;
}

footer .card {
  border: 0;
  background: transparent;
}

footer .contact-card p{
    display: flex;
    align-items: center;    
}
footer .contact-card p .fa{
    display: flex;
    margin-right: 10px;
    color: #fd5c63;
}

footer .contact-card p.social a{
    display: flex;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #fd5c63;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;
}
footer .contact-card p.social a:hover{
    border: 1px solid #fd5c63;
    background-color: #fd5c63;
    color: #fff;
}

footer .contact-card p.social .fa{
    color: #484848;
    font-size: 1.2rem;
    margin-right: 0;
}

footer .contact-card p.social a:hover .fa{
    color: #fff;
}
footer .info-card .link-box{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
footer .card-title{
    display: flex;
    width: 100%;
}
footer .info-card p a{
    color: #484848;
    text-decoration: none;
    transition: all 0.3s ease;
}
footer .info-card p a:hover{
    transition: all 0.3s ease;
    color: #fd5c63;
}
footer .info-card p a .fa{
    margin-right: 8px;
}

footer .navbar-brand img{
    height: 50px
}